/__pycache__/*

scripts/chatbot/dataset_cache_OpenAIGPTTokenizer
scripts/chatbot/finetuned_chatbot_gpt/*
scripts/chatbot/LICENCE
scripts/chatbot/Dockerfile
scripts/chatbot/README.md
scripts/chatbot/requirements.txt

scripts/classifier/data/*

/models/*

.vscode