{% extends "navbar.html" %}
{% block title %} About Us {% endblock %}
{% block  head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div style="height:85vh" class="container valign-wrapper hero">
        <div class="row">
            <div class="col s12 center-align">
                <div class="col s6 m6">
                    <div class="card-image">
                        <img style="height:150px; width:150px; border-radius: 50%" src="{{url_for('static', filename='Eshban.jpeg')}}" alt="Eshban">
                    </div>
                    <div class="card-content">
                        <h5>Eshban Suleman</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga distinctio totam maiores non animi nisi fugiat ut earum unde pariatur?</p>
                    </div>
                    <div class="card-action">
                            <a style="
                            padding: 20px;
                            font-size: 30px;
                            width:50px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #3B5998;
                        " href="#" class="fab fa fa-facebook" target="_blank"></a>
                        <a style="
                            padding: 20px;
                            font-size: 30px;
                            width:50px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #211f1f;
                        " href="#" class="fab fa fa-github" target="_blank"></a>
                        <a style="
                        padding: 20px;
                        font-size: 30px;
                        width:50px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #0077B5;
                    " href="#" class="fab fa fa-linkedin" target="_blank"></a>
                        <a style="
                        padding: 20px;
                        font-size: 30px;
                        width:50px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #55ACEE;
                    " href="#" class="fab fa fa-twitter" target="_blank"></a>
                    <a style="
                    padding: 20px;
                    font-size: 30px;
                    width: 80px;
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    background: white;
                    color: #8a3ab9;
                " href="#" class="fab fa fa-instagram" target="_blank"></a>
                
                    </div>
                </div> 
                <div class="col s6 m6">
                        <div class="card-image">
                            <img style="height: 150px; width: 150px; border-radius: 50%;" src="{{url_for('static', filename='Taymoor.png')}}" alt="Taymoor">
                        </div>
                        <div class="card-content">
                            <h5>Taymoor Akbar</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, harum officiis nisi repellendus obcaecati ipsum alias fuga. Magni, voluptatem enim!</p>
                        </div>
                        <div class="card-action">
                                <a style="
                                padding: 20px;
                                font-size: 30px;
                                width:50px;
                                border-radius: 50%;
                                text-align: center;
                                text-decoration: none;
                                background: white;
                                color: #3B5998;
                            " href="#" class="fab fa fa-facebook" target="_blank"></a>
                                <a style="
                                padding: 20px;
                                font-size: 30px;
                                width:50px;
                                border-radius: 50%;
                                text-align: center;
                                text-decoration: none;
                                background: white;
                                color: #211f1f;
                            " href="#" class="fab fa fa-github" target="_blank"></a>
                            <a style="
                            padding: 20px;
                            font-size: 30px;
                            width:50px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #0077B5;
                        " href="#" class="fab fa fa-linkedin" target="_blank"></a>
                            
                            <a style="
                            padding: 20px;
                            font-size: 30px;
                            width:50px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #55ACEE;
                        " href="#" class="fab fa fa-twitter" target="_blank"></a>
                        <a style="
                        padding: 20px;
                        font-size: 30px;
                        width: 80px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #8a3ab9;
                    " href="#" class="fab fa fa-instagram" target="_blank"></a>
                        </div>
                    </div> 
            </div>
        </div>
    </div>
{% endblock %}