{% extends "navbar.html" %}
{% block title %} About Us {% endblock %}
{% block  head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div style="height:85vh" class="container valign-wrapper hero">
        <div class="row">
            <div class="col s12 center-align">
                <div class="col s6 m6">
                    <div class="card-image">
                        <img style="height:135px; width:135px; border-radius: 50%" src="{{url_for('static', filename='Eshban.jpeg')}}" alt="Eshban">
                    </div>
                    <div class="card-content">
                        <h5>Eshban Suleman</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga distinctio totam maiores non animi nisi fugiat ut earum unde pariatur?</p>
                    </div>
                    <div class="card-action">
                            <a style="
                            padding: 10px;
                            font-size: 30px;
                            width:35px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #3B5998;
                        " href="https://www.facebook.com/eshban.suleman" class="fab fa fa-facebook" target="_blank"></a>
                        <a style="
                            padding: 10px;
                            font-size: 30px;
                            width:35px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #211f1f;
                        " href="https://github.com/EshbanTheLearner" class="fab fa fa-github" target="_blank"></a>
                        <a style="
                        padding: 10px;
                        font-size: 30px;
                        width:35px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #0077B5;
                    " href="https://www.linkedin.com/in/eshban-suleman-624a49113/" class="fab fa fa-linkedin" target="_blank"></a>
                        <a style="
                        padding: 10px;
                        font-size: 30px;
                        width:35px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #55ACEE;
                    " href="https://twitter.com/i_eshban" class="fab fa fa-twitter" target="_blank"></a>
                    <a style="
                    padding: 10px;
                    font-size: 30px;
                    width: 35px;
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    background: white;
                    color: #8a3ab9;
                " href="https://www.instagram.com/_eshban_/" class="fab fa fa-instagram" target="_blank"></a>
                
                    </div>
                </div> 
                <div class="col s6 m6">
                        <div class="card-image">
                            <img style="height: 135px; width: 135px; border-radius: 50%;" src="{{url_for('static', filename='Taymoor.png')}}" alt="Taymoor">
                        </div>
                        <div class="card-content">
                            <h5>Taymoor Akbar</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga distinctio totam maiores non animi nisi fugiat ut earum unde pariatur?</p>
                        </div>
                        <div class="card-action">
                                <a style="
                                padding: 10px;
                                font-size: 30px;
                                width:35px;
                                border-radius: 50%;
                                text-align: center;
                                text-decoration: none;
                                background: white;
                                color: #3B5998;
                            " href="https://www.facebook.com/TAYMOOR24" class="fab fa fa-facebook" target="_blank"></a>
                                <a style="
                                padding: 10px;
                                font-size: 30px;
                                width:35px;
                                border-radius: 50%;
                                text-align: center;
                                text-decoration: none;
                                background: white;
                                color: #211f1f;
                            " href="https://github.com/TaymoorAk" class="fab fa fa-github" target="_blank"></a>
                            <a style="
                            padding: 10px;
                            font-size: 30px;
                            width:35px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #0077B5;
                        " href="https://www.linkedin.com/in/taymoor-akbar-04918710b/" class="fab fa fa-linkedin" target="_blank"></a>
                            
                            <a style="
                            padding: 10px;
                            font-size: 30px;
                            width:35px;
                            border-radius: 50%;
                            text-align: center;
                            text-decoration: none;
                            background: white;
                            color: #55ACEE;
                        " href="https://twitter.com/sheikhTaymoor" class="fab fa fa-twitter" target="_blank"></a>
                        <a style="
                        padding: 10px;
                        font-size: 30px;
                        width: 35px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #8a3ab9;
                    " href="https://www.instagram.com/_taymoor.akbar/" class="fab fa fa-instagram" target="_blank"></a>
                        </div>
                    </div> 
            </div>
        </div>
    </div>
{% endblock %}