{% extends "navbar.html" %}
{% block title %} Chat {% endblock %}
{% block  head %}
	{{ super() }}
{% endblock %}
{% block body %}
    <div style="
        border: 3px solid #2979FF;
        border-radius: 3px;
        position: relative;
        margin-top: 5vh;
        height: 70vh;" class="container">
        <div style="
            width: 100%;
            position: absolute;
            bottom:0px;
            padding-left:25px;" class="row">
            <div class="col s12">
                <form method=POST action="{{ url_for('chat') }}">
                    {{ form.csrf_token }}
                    <div class="input-field col s10">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form.chatInput(class_="materialize-textarea") }}
                    </div>
                    <div class="input-field col s2">
                        {{ form.submit(class_="btn-large hoverable waves-effect waves-light blue accent-3") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}