{% extends "navbar.html" %}
{% block title %} Dashboard {% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block  head %}
	{{ super() }}
{% endblock %}
{% block body %}
    <div class="container valign-wrapper">
        <div class="row">
            <div class="col s12 center-align">
                <h4>
                    <b>Hey there, </b> {{name.split(" ")[0]}}
                    <p class="flow-text grey-text text-darken-2">
                        It is advised to stayed as honest as possible with chatbot. Your data is safe with us, consider it NDA protected. &#x1F609;
                    </p>
                    <p class="flow-text grey-text text-darken-1">
                        To chat with the bot, please click the <span style="font-family: monospace;">CHAT</span> button
                    </p>
                </h4>
                <div class="col s6">
                    <a href="{{ url_for('chat') }}" class="custom-button btn btn-large waves-effect waves-light hoverable blue accent-3">Chat</a>
                </div>
                <div class="col s6">
                    <a href="{{ url_for('logout') }}" class="custom-button btn btn-large waves-effect black-text waves-light hoverable white">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}