{% extends "navbar.html" %}
{% block title %} Join Us {% endblock %}
{% block  head %}
	{{ super() }}
{% endblock %}
{% block body %}
	<div style="height: 75vh" class="container valign-wrapper hero">
        <div class="row">
            <div class="col s12 center-align">
                <h4>Join Us Today</h4>
                <p class="flow-text grey-text text-darken-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam veniam sequi debitis provident libero nisi consectetur voluptatum. Optio reprehenderit quis repudiandae velit dolorum similique praesentium ducimus. Voluptates maiores assumenda tenetur?</p>
                <br>
                <div>
                    <a style="
                        padding: 20px;
                        font-size: 60px;
                        width: 80px;
                        border-radius: 50%;
                        text-align: center;
                        text-decoration: none;
                        background: white;
                        color: #3B5998;
                    " href="https://www.facebook.com/SkylahET/" class="fab fa fa-facebook" target="_blank"></a>
                
                    <a style="
                    padding: 20px;
                    font-size: 60px;
                    width: 80px;
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    background: white;
                    color: #55ACEE;
                " href="#" class="fab fa fa-twitter" target="_blank"></a>
                
                    <a style="
                    padding: 20px;
                    font-size: 60px;
                    width: 80px;
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    background: white;
                    color: #8a3ab9;
                " href="#" class="fab fa fa-instagram" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}