{% extends "navbar.html" %}
{% block title %} Login {% endblock %}
{% block  head %}
	{{ super() }}
{% endblock %}

{% block body %}

    <div style="padding-top: 20px;" class="container valign-wrapper">
        <div class="row">
            <div class="col s8 offset-s2">
                <a href="/" class="btn-flat waves-effect"><i class="material-icons left">keyboard_backspace</i> Back to home</a>
                <div style="padding-left: 11.250px" class="col s12">
                    <h4><b>Login</b> below</h4>
                    <p class="grey-text text-darken-1">Don't have an account? <a href="/register">Register</a></p>
                </div>
                <form method=POST action="{{ url_for('login') }}">
                    {{ form.csrf_token }}
                    <div class="input-field col s12">
                        {{ form.email }}
                        {{ form.email.label }}
                        {% if form.errors_email %}
                            <span class="red-text">{{ form.errors_email[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.password }}
                        {{ form.password.label }}
                        {% if form.errors_password %}
                            <span class="red-text">{{ form.errors_password[0] }}</span>
                        {% endif %}
                    </div>
                    <div style="padding-left: 11.250px" class="col s12">
                        {{ form.submit(class_="custom-button btn btn-large hoverable blue accent-3") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}