<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylsheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />      
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
		$(document).ready(function(){
		$('.sidenav').sidenav();
	});
	</script>
	<script src = "https://d3js.org/d3.v4.min.js"></script>

	{% block head %}
	<title>Skylah | {% block title %}{% endblock %}</title>
	{% endblock %}
	
</head>
<body>
	<div class="navbar-fixed">
			<ul id="dropdown1" class="dropdown-content">
				<li><a href="/report_latest">Latest</a></li>
				<li><a href="/report">Cumulative</a></li>
			</ul>
		<nav class="z-depth-0">
			<div class="nav-wrapper white">
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
				<a href="/" class="brand-logo center black-text"><b><i class="material-icons">code</i>SKYLAH</b></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					{% if current_user.is_authenticated %}
						<li>
							<a href="/dashboard" class="black-text waves-effect waves-light lighten-1">Home</a>
						</li>
						<li>
							<a href="/report" class="black-text waves-effect waves-light lighten-1 dropdown-trigger" data-target="dropdown1">Report<i class="material-icons right">arrow_drop_down</i></a>
						</li>
					{% else %}
						<li>
							<a href="/" class="black-text waves-effect waves-light lighten-1">Home</a>
						</li>
					{% endif %}
					<li>
						<a href="/objective" class="black-text waves-effect waves-light lighten-1">Objective</a>
					</li>					
					<li>
						<a href="/about" class="black-text waves-effect waves-light lighten-1">About Us</a>
					</li>
					<li>
						<a href="/join" class="black-text waves-effect waves-light lighten-1">Join Us</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<ul class="sidenav white" id="mobile-demo">
		{% if current_user.is_authenticated %}
			<li><a href="/dashboard">Home</a></li>
			<li><a class="dropdown-button dropdown-trigger" data-target="dropdown-mob" href="/report">Report<i class="material-icons right">arrow_drop_down</i></a></li>
			<ul id="dropdown-mob" class="dropdown-content">
				<li><a href="/report_latest">Latest</a></li>
				<li><a href="/report">Cumulative</a></li>
			</ul>
		{% else %}
			<li><a href="/">Home</a></li>
		{% endif %}
			<li><a href="/objective">Objective</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/join">Join Us</a></li>
		</ul>

	{% block body %}
	
	{% endblock %}

	<script type="text/javascript">
	$( document ).ready(function(){
		$(".dropdown-trigger").dropdown();
	});
	</script>

</body>
</html>