{% extends "navbar.html" %}
{% block title %} Our Objective {% endblock %}
{% block  head %}
	{{ super() }}
{% endblock %}
{% block body %}
    <div class="container valign-wrapper hero">
        <div class="row">
            <div class="col s12 center-align">
                <h4>Our Objective</h4>
                <p class="flow-text grey-text text-darken-1">
                        According to WHO
                        "Depression is a common illness worldwide, with more than 300 million people affected. Depression is different from usual mood fluctuations and short-lived emotional responses to challenges in everyday life. Especially when long-lasting and with moderate or severe intensity, depression may become a serious health condition. It can cause the affected person to suffer greatly and function poorly at work, at school, and in the family. At its worst, depression can lead to suicide. Close to 800 000 people die due to suicide every year. Suicide is the second leading cause of death in 15-29-year-olds."
                        Skylah is an application leveraging the advancements in AI to help people fight against this menace. Join us to defeat the social stigma towards mental illness by spreading the word.
                </p>
            </div>
        </div>
    </div>
{% endblock %}